.colouredBG {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: -1;
    box-sizing: border-box;
    position: fixed;
    top:0;
  }
  
  .blueBG, .redBG {
    width: 100%;
    height: 50%;
  }
  
  .blueBG {
    background-color: #3CC4FF;
  }
  
  .redBG {
    background-color: #E94B4B;
  }