body {
    color: black;
}

.container {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template: 100vh / 1fr 7fr;
    align-items: center;
}

.uiContainer {
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

.uiInnerContainer {
    background-color: #FAF3E1;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.waldo {
    height: auto;
    width: 70%;
}

.timerContainer {
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    
}

.timerContainer span {
    color: black;
    font-size: 40px;
}

.timerContainer :nth-child(odd) {
    width: 50px;
}

.selectionZone {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: auto;
    min-height: auto;
    position: relative;
    box-sizing: border-box;
}

.imageContainer {
    grid-area: 1 / 2 / 2 / 3;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

.gameImage {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
    min-height: 100%;
}

.playerChoiceMarker {
    --radius: 30px;
    --redDotRadius: 10px;

    height: calc(var(--radius) * 2);
    width: calc(var(--radius) * 2);
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: translate(-50%, -50%);

    .redDot {
        background-color: red;
        height: var(--redDotRadius);
        width: var(--redDotRadius);
        border-radius: var(--redDotRadius);
    }
}

.backBtn {
    margin-top: 10px;
}

dialog {
    background-color: #FAF3E1;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    color: black;
    font-size: clamp(1rem, 2vw, 1.1rem)
}

form div {
    position: relative;
    padding-left: 35px;
    display: flex;
    align-items: center;
}

form h3 {
    text-align: center;
    width: 100%;
}

form input {
    background-color: white;
    font-size: 1.5rem;
    color: black;
    border-radius: 10px;
    padding-left: 5px;
}

form input[type="text"]:disabled {
    background-color: rgb(186, 186, 186);
}

/* Hide original checkbox */
form input[type="checkbox"] {
  position: absolute; 
  cursor: pointer;
  left: 0;
  height: 25px;
  width: 25px;
  border: 0px;
}

.errorMsg {
    color: #E94B4B;
    text-align: center;
    width: 100%;
    margin: 0px;
}

.submitFormBtn {
    background-color: black;
    color: white;
    margin-top: 20px;
    width: 100%;
}

.test {
    color: black;
    font-size: 16px;
}

@media (max-width: 1000px) {
    .container {
        grid-template: 1fr 7fr / 100vw;
    }

    .uiContainer {
        grid-area: 1 / 1 / 2 / 2;

        p {
            margin: 5px 0px 0px 0px;
        }
    }

    .imageContainer {
        grid-area: 2 / 1 / 3 / 2;
    }

    .waldo {
        display: none;
    }
}